*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
	max-width: 100vw;
	min-width: 320px;
	overflow: hidden;
}

body {
	color: #ffffff;
	background: #000;
	font: normal 125% / 1.4 sans-serif;
	line-height: 1.6;
	font-size: 1.6rem;
	padding: 1rem;
	padding: 0;
}

#testLog {
	position: absolute;
	font-weight: 100;
	bottom: 10px;
	left: 60%;
	font-size: 12px;
}

.scene {
	z-index: 0;
}

.controls {
	$ctrlWidth: 60px;
	$ctrlHeight: 30px;


	position: absolute;
	z-index: 10;
	left: 15%;
	top: 370px;
	height: 100px;
	width: 130px;

	.ctrl {
		position: absolute;
		padding: 4px 10px;
		height: $ctrlHeight;
		width: $ctrlWidth;
		border-radius: 20px;
		opacity: .3;

		&.rt {
			right: 0;
		}

		&.dn {
			bottom: 0;
		}

		&.rt,
		&.lt {
			top: 50%;
			transform: translateY(-50%);
		}

		&.up,
		&.dn {
			left: 50%;
			transform: translateX(-50%)
		}

	}

}